{% extends 'layout.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Staff Platform - An-Najah National Hospital" %}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/user/login.css' %}"/>
{% endblock %}

{% block content %}


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <h2 class="text-center">Staff Platform NNUH</h2>
                        <hr>
                        <h3 style="font-size: 18px;">Password Reset Sent</h3>
                        <p>We have sent you an email with instructions for resetting your password.</p><br/>
                        <a href="{% url 'login' %}"><u>Go to Login Page</u></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
