header{
    border-bottom: 3px solid var(--pbmit-global-color) !important;
}

header .nav-a{
    font-size: 18px !important;
    margin-right: 23px;
}
header .nav-a:hover{
  color: var(--pbmit-color-extra);
    border-bottom: 2px solid var(--pbmit-color-extra);
}

header .active{
    color: var(--pbmit-color-extra);
    border-bottom: 2px solid var(--pbmit-color-extra);
}


.navbar{
    color: white !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: var(--pbmit-color-extra) !important;
}

.sidebar{
    background: var(--pbmit-global-color) !important;
    color: white !important;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.sidebar li:hover{
    background: var(--pbmit-color-extra) !important;
}