{% extends 'layout.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/user/bars.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/user/home.css' %}"/>
{% endblock %}

{% block content %}

    {% include 'header.html' %}


    <div class="container-fluid">
    <div class="row">
        <!-- Toggle button for small devices -->
        <button class="btn btn-primary d-md-none mb-3" style="background-color: var(--pbmit-global-color) !important" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
            <i class="fa fa-list" aria-hidden="true"></i> Show List
        </button>

        <!-- Sidebar: Collapse on small screens, always visible on medium and larger screens -->
        <aside id="sidebar" class="col-md-3 collapse d-md-block">
            {% include 'sidebar.html' %}
        </aside>

        <main class="col-12 col-md-9 p-3">
            {% block body %}
            {% endblock body %}
        </main>
    </div>
</div>

    {##}
    {#    <div class="d-flex">#}
    {#        {% include 'sidebar.html' %}#}
    {##}
    {#        <main class="flex-grow-1 p-3">#}
    {#            {% block body %}#}
    {#            {% endblock body %}#}
    {#        </main>#}
    {#    </div>#}

{% endblock content %}