<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">

        <span class="fs-4 text-white"><i class="fa fa-tasks" aria-hidden="true"></i> Operations</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li class="mt-3">
            <a href="#" class="nav-link link-dark text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                </svg>
                <i class="fa fa-file-text" aria-hidden="true"></i>
                Orders
            </a>
        </li>
        <li class="mt-3">
            <a href="#" class="nav-link link-dark text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"></use>
                </svg>
                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                Products
            </a>
        </li>
        <li class="mt-3">
            <a href="#" class="nav-link link-dark text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle"></use>
                </svg>
                <i class="fa fa-users" aria-hidden="true"></i>
                Customers
            </a>
        </li>
    </ul>

</div>